<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
<body>
    <footer th:fragment="nav">
        <div class="nav">
            <ul class="navBar">
                <li style="padding-left: 10%;"><a href="/">Home</a></li>
                <li><a href="../list">Project</a></li>
                <li><a href="../home">Contact</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>