<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>List</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/media.css}">

</head>
<body>

<div class="board_wrap">
    <div class="board_title">
        <strong>포트폴리오</strong>
        <p>포트폴리오 게시판 입니다.</p>
    </div>
    <!-- 게시판 영역 -->
    <div class="board_list_wrap">
        <div class="board_list">
            <div class="top">
                <div class="num">번호</div>
                <div class="title">제목</div>
                <div class="start_date">시작일</div>
                <div class="end_date">종료일</div>
                <div class="github_link">링크</div>
                <div class="count">조회</div>
            </div>

            <!-- 데이터 내 게시판 출력 영역 -->
            <div class="list_event" th:each="portfolio : ${portfolio}">
                <div class="num"><a th:text="${portfolio.num}"></a></div>
                <div class="title"><a th:text="${portfolio.title}"></a></div>
                <div class="start_date"><a th:text="${portfolio.startDate}"></a></div>
                <div class="end_date"><a th:text="${portfolio.endDate}"></a></div>
                <div class="github_link"><a th:href="${portfolio.githubLink}">바로가기</a></div>
                <div class="count"><a th:text="${portfolio.count}"></a></div>
            </div>

            <!-- 페이징 영역 -->
            <div class="board_page">
                <a href="#" class="bt first"><<<</a>
                <a href="#" class="bt prev"><</a>
                <a href="#" class="num on">1</a>
                <a href="#" class="num">2</a>
                <a href="#" class="num">3</a>
                <a href="#" class="num">4</a>
                <a href="#" class="num">5</a>
                <a href="#" class="bt next">></a>
                <a href="#" class="bt last">>>></a>
            </div>
        </div>
    </div>
</div>

</body>
</html>