<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Update</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/media.css}">

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>

</head>
<body>

<div th:replace="fragments/nav::nav"></div>

<div class="board_wrap">
    <div class="board_title">
        <strong>포트폴리오 수정하기</strong>
        <p>포트폴리오를 정보에 맞춰 기입해주세요.</p>
    </div>

    <div class="board_list_wrap">
        <div class="board_list">
            <div class="top">
                <div class="insert_form">
                    <form action="../updateSuccess" method="post">
                        <table>
                            <input type="hidden" name="num" id="num" th:value="${portfolioDTO.num}">
                            <tr>
                                <td class="insert_title">제목</td>
                                <td><input type="text" class="insert_text_width" name="title" id="title" th:value="${portfolioDTO.title}"></td>
                            </tr>
                            <tr>
                                <td class="insert_title">시작일</td>
                                <td><input type="date" name="startDate" id="startDate" th:value="${portfolioDTO.startDate}"></td>
                                <td class="insert_title">종료일</td>
                                <td><input type="date" name="endDate" id="endDate" th:value="${portfolioDTO.endDate}"></td>
                            </tr>
                            <tr>
                                <td class="insert_title">링크</td>
                                <td><input type="text" class="insert_text_width" name="githubLink" id="githubLink" th:value="${portfolioDTO.githubLink}"></td>
                            </tr>
                            <tr>
                                <td class="insert_title">설명</td>
                                <td><textarea name="content" id="content" th:text="${portfolioDTO.content}"></textarea></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" value="저장하기">
                                    <button onclick="history.back()">뒤로가기</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
