<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.development_memory.mapper.PortfolioMapper">

    <!-- 게시글 등록 -->
    <insert id="saveInsert">
        insert into PORTFOLIO (title,
                              startDate,
                              endDate,
                              githubLink,
                              content)
        values (#{title},
                #{startDate},
                #{endDate},
                #{githubLink},
                #{content}
               )
    </insert>

    <select id="portfolioList">
        select *
        from PORTFOLIO
        ORDER BY num DESC;
    </select>

    <select id="readView">
        select *
        from PORTFOLIO
        where NUM = #{num}
    </select>

    <update id="readCountUp">
        update PORTFOLIO
        set count = count+1
        where num = #{num}
    </update>

</mapper>